<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование service</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">serviceStats</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="/service/edit" method="post">
                <!-- Используем скрытое поле (hidden), чтобы незаметно пробрасывать в форму id записи -->
                <!-- Используем data-th-value для задания значения полю -->
                <input id="id" name="id" hidden data-th-value="${serviceDTO.id}">
                <div class="row my-3">
                    <label for="name" class="col-sm-2 col-form-label">service</label>
                    <div class="col-8">
                        <input data-th-value="${serviceDTO.name}" type="text" class="form-control" name="name" id="name">
                    </div>
                    <div
                            class="alert alert-warning"
                            data-th-text="${#fields.errors('serviceDTO.name')}"
                            data-th-if="${#fields.hasErrors('serviceDTO.name')}"
                    ></div>
                </div>
                <div class="row mb-3">
                    <label for="port" class="col-sm-2 col-form-label">Port</label>
                    <div class="col-8">
                        <input data-th-value="${serviceDTO.port}" type="text" class="form-control" name="port"
                               id="port">
                    </div>
                    <div
                            class="alert alert-warning"
                            data-th-if="${#fields.hasErrors('serviceDTO.port')}"
                            data-th-each="err : ${#fields.errors('serviceDTO.port')}"
                            data-th-text="${err}"
                    ></div>

                </div>
                <div class="row mb-3">
                    <label for="type" class="col-sm-2 col-form-label">Type</label>
                    <div class="col-8">
                        <input data-th-value="${serviceDTO.type}" type="text" class="form-control" name="type"
                               id="type">
                    </div>
                    <div
                            class="alert alert-warning"
                            data-th-if="${#fields.hasErrors('serviceDTO.type')}"
                            data-th-each="err : ${#fields.errors('serviceDTO.type')}"
                            data-th-text="${err}"
                    ></div>

                </div>
                <div class="row mb-3">
                    <label for="namespace" class="col-sm-2 col-form-label">Namespace</label>
                    <div class="col-8">
                        <input data-th-value="${serviceDTO.namespace}" type="text" class="form-control" name="namespace"
                               id="namespace">
                    </div>
                    <div
                            class="alert alert-warning"
                            data-th-if="${#fields.hasErrors('serviceDTO.namespace')}"
                            data-th-each="err : ${#fields.errors('serviceDTO.namespace')}"
                            data-th-text="${err}"
                    ></div>

                </div>
                <div class="row my-3">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>